# -------------------------------------
#               Info
# -------------------------------------
# Invite URL
# 3072: only read / send messages permission
# https://discord.com/oauth2/authorize?client_id={application-id}&scope=bot&permissions=3072

# -------------------------------------
#             BOT token
# -------------------------------------
bot_token: 999999999999999999

# -------------------------------------
#           Restrictions
# -------------------------------------
# --- activate in servers ---

# activated_servers: [ 'server_name_1', 'server_name_2' ]
activated_servers: [ 'server_name_1' ]

# --- activate in channels ---

message_channels: [ 'message_autoreply_channel_name', 'command_setting_channel_name' ]
command_channels: [ 'command_setting_channel_name' ]

# y | n
command_use_pm_channel: 'n'


# --- skip commands ---
# avoid message detection checks commands
skip_commands: [ 'help', 'set_ans', 'get_status', 'clear' ]
